<div class="content-header">
  <!---------------------- CSS ---------------------->

  <!-- lib control -->
  <link href="/src/private/lib/imagen/imagen.min.css" rel="stylesheet">
  <link href="/src/private/lib/formError/formError.min.css" rel="stylesheet">

  <!-- layout -->
  <link href="/src/private/layout/css/form.css" rel="stylesheet">
  <link href="/src/private/layout/css/input.css" rel="stylesheet">
  <link href="/src/private/layout/css/btn.css" rel="stylesheet">

  <!---------------------- JS ---------------------->

  <!-- lib control -->
  <script src="/src/private/lib/imagen/imagen.min.js"></script>
  <script src="/src/private/lib/formError/formError.min.js"></script>

  <!-- layout -->
  <script src="/src/private/lib/input/input.min.js"></script>

  <!---------------------- BODY ---------------------->

  <div class="content-tittle">Perfil</div>
  <div class="content-path">
    <a href="/control">/control</a>
    <a href="/control/perfil">/perfil</a>
  </div>
</div>

<div class="content-body">
  <div class="menu-body">
    <div class="card">
      <div class="card-head">
        <h3 class="card-tittle">
          <%=session.usuario.usuario %>
        </h3>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <div class="form-body">
              <div class="form-col">
                <div class="input-box">
                  <input type="text" value="<%=session.usuario.nombres %>" disabled="default">
                  <label for="nombres">Nombre:</label>
                </div>
                <div class="input-box">
                  <input type="text" value="<%=session.usuario.apellidos %>" disabled="default">
                  <label for="apellidos">Apellidos:</label>
                </div>
                <div class="input-box">
                  <input type="text" value="<%=session.usuario.usuario %>" disabled="default">
                  <label for="usuario">Usuario:</label>
                </div>
              </div>
              <div class="form-col">
                <div class="input-box">
                  <input type="text" value="<%=session.usuario.email %>" disabled="default">
                  <label for="email">Email:</label>
                </div>
                <div class="input-box">
                  <input type="text" value="<%=session.usuario.telefono %>" disabled="default">
                  <label for="telefono">Telefono:</label>
                </div>
                <div class="input-box">
                  <input type="text" value="<%=session.usuario.rol_nombre %>" disabled="default">
                  <label for="rol">Rol:</label>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-side">
    <div class="card" id="foto-actual">
      <div class="card-head">
        <h3 class="card-tittle">Foto Actual <%=session.usuario.usuario %>
        </h3>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <form>
              <div class="form-body">
                <div class="form-col">
                  <div class="input-box">
                    <input class="imagen-unic" type="file" accept=".jpeg, .jpg, .png, .webp, .gif" value="<%=session.usuario.foto_src %>" <% if(!session.permiso.agregar){ %> disabled <% } %>>
                    <label for="fotos">Avatar:</label>
                  </div>
                </div>
              </div>
            </form>
            <div class="form-foot">
              <a class="btn btn-success disabled" <% if(!session.permiso.agregar){ %> style="display: none" <% } %>>guardar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" id="cambio-contraseña" <% if(!session.permiso.editar){ %> style="display: none" <% } %>>
      <style>
        #cambio-contraseña .input-box {
          position: relative;
          display: flex;
          justify-content: end;
          padding-top: 30px !important;

          input {
            width: 90% !important;
          }

          label {
            top: 30px !important;
            left: 25px !important;
          }

          input:focus+label,
          input:valid+label {
            top: 5px !important;
          }

          i {
            height: 15px;
            aspect-ratio: 1 / 1;
            position: absolute;
            top: 32px;
            left: 0;
            transition: box-shadow .3s ease;
          }

          .bx-show:hover,
          .bx-hide:hover {
            color: rgb(var(--text-5)) !important;
            box-shadow: 0 0 10px rgb(var(--bg-2));
          }
        }
      </style>
      <div class="card-head">
        <h3 class="card-tittle">Cambio de contraseña <%=session.usuario.usuario %> </h3>
      </div>
      <div class="card-body">
        <div class="card-form">
          <div class="form-box">
            <form>
              <div class="form-body">
                <div class="form-col">
                  <div class="input-box">
                    <i class='bx bx-show' id="toggle"></i>
                    <input type="password" required>
                    <label for="email">Contraseña Actual:</label>
                  </div>
                  <div class="input-box">
                    <i class='bx bx-show' id="toggle"></i>
                    <input type="password" required>
                    <label for="telefono">Nueva Contraseña:</label>
                  </div>
                  <div class="input-box">
                    <i class='bx bx-show' id="toggle"></i>
                    <input type="password" required>
                    <label for="rol">Nueva Contraseña:</label>
                  </div>
                </div>
              </div>
            </form>
            <div class="form-foot">
              <a class="btn btn-success">guardar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/src/private/routes/perfil/index.js"></script>